{% extends "layout.html" %}
{% block body %}
    <div class="container" style="font-size: 16px;">
        <h1 class="download-header">Downloads</h1>
        <!-- <p>
            Please subscribe to <a href="https://groups.google.com/forum/#!forum/exac_data_announcements">our mailing list</a>
            to be notified when ExAC v2 and gnomAD VCFs are released.
        </p> -->
        <!-- <p>
            Data for release from the Genome Aggregation Database (gnomAD) consortium are available via FTP <a href="ftp://ftp.broadinstitute.org/pub/ExAC_release">here</a> <em>(updated 02-15-2016)</em> or through the links provided below.
        </p> -->
        <h3 class="download-header">gnomAD data temporarily unavailable</h3>
        <p class="download-header">
            Sorry, we noticed a bug in today's release data. We are currently regenerating the VCF files. This shouldn't take long... data will be back up shortly.
        </p>
    </div>
{% endblock %}

