{% extends "layout.html" %}
{% block body %}
    <div class="container" style="font-size: 16px;">
        <h1 class="download-header">Downloads</h1>
        <!-- <p>
            Please subscribe to <a href="https://groups.google.com/forum/#!forum/exac_data_announcements">our mailing list</a>
            to be notified when ExAC v2 and gnomAD VCFs are released.
        </p> -->
        <!-- <p>
            Data for release from the Genome Aggregation Database (gnomAD) consortium are available via FTP <a href="ftp://ftp.broadinstitute.org/pub/ExAC_release">here</a> <em>(updated 02-15-2016)</em> or through the links provided below.
        </p> -->
        <p class="download-header">
            Genome Aggregation Database (gnomAD) data are available at the links below. Please see <a href="https://macarthurlab.org/2017/02/27/the-genome-aggregation-database-gnomad">this blog post</a> for more information about this release.
        </p>
        <h3 class="download-header">Variant Dataset (VDS) format</h3>
        <p class="download-header">
            <a href="https://hail.is/">Hail</a> users can download gnomAD data quickly in <a href="https://hail.is/hail/overview.html#overview-vds">Variant Dataset (VDS) format</a>.
        </p>
        <p class="download-header"> First, install <a href="https://cloud.google.com/sdk/docs/">Google Cloud SDK</a>. Then use the <a href="https://cloud.google.com/storage/docs/gsutil">Google Cloud Storage</a> <code>gsutil</code> tool to copy partitions in parallel to your own storage bucket or local hard drive.</p>
        <pre class="download-code"><code>mkdir gnomad_data</code></pre>
        <p class="download-header">
            To download individual exome sites VDS files (autosomes: 56.58 GB, chrX: 1.16 GB, chrY: 15.71 MB)
        </p>
        <pre class="download-code"><code>gsutil -m cp -r gs://gnomad-public/release-170224/gnomad.exomes.r2.0.sites.release.autosomes.vds gnomad_data/
gsutil -m cp -r gs://gnomad-public/release-170224/gnomad.exomes.r2.0.sites.release.X.vds gnomad_data/
gsutil -m cp -r gs://gnomad-public/release-170224/gnomad.exomes.r2.0.sites.release.Y.vds gnomad_data/</code></pre>
        <p class="download-header">
        To download individual genome sites VDS files (autosomes: 102.33 GB, chrX: 4.87 GB)
        </p>
        <pre class="download-code"><code>gsutil -m cp -r gs://gnomad-public/release-170224/gnomad.genomes.r2.0.sites.release.autosomes.vds gnomad_data/
gsutil -m cp -r gs://gnomad-public/release-170224/gnomad.genomes.r2.0.sites.release.X.vds gnomad_data/</code></pre>
        <p class="download-header">
        Or copy everything at once (164.96 GB)
        </p>
        <pre class="download-code"><code>gsutil -m cp -r gs://gnomad-public/release-170224/* gnomad_data/</code></pre>
        <h3 class="download-header">VCF and coverage files</h3>
        <p class="download-header">
            To download VCFs and coverage the old-fashioned way as a 103 GB tar, click                                              <a href="https://data.broadinstitute.org/gnomAD/release-170227/gnomAD.release.170222.tar">here</a> or type on command line (this will take 12 hours or so...)
        </p>
            <pre class="download-code"><code>curl -O https://data.broadinstitute.org/gnomAD/release-170227/gnomAD.release.170222.tar</code></pre>
        <p class="download-header">
            To download specific chromosomes
            <pre class="download-code"><code>curl -O https://data.broadinstitute.org/gnomAD/release-170227/genomes/vcf/gnomad.genomes.r2.0.sites.1.vcf.bgz</code></pre>
        </p>
        <p class="download-header">Explore the <a href="https://data.broadinstitute.org/gnomAD/release-170227">data directory</a> to understand the folder structure.</p>
         <ul class="media-list">
            <div class="media-body">
                <div class="download-tables">
                    <div class="download-table-group">
                        <h4>Exome Data</h4>
                        <table class="downloads-table" border="1" cellspacing="0" cellpadding="0">
                            <tbody align="center">
                                <tr>
                                    <td width="429 ">
                                        <p>
                                            <strong>Exome VCF Files</strong>
                                        </p>
                                    </td>
                                </tr>
                                 <tr>
                                     <td width="428">
                                         <p>
                                             <a href="https://data.broadinstitute.org/gnomAD/release-170227/exomes/vcf/gnomad.exomes.r2.0.sites.vcf.gz">All chromosomes sites VCF (8.9 GB)</a>
                                         </p>
                                     </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="downloads-table" border="1" cellspacing="0" cellpadding="0">
                            <tbody align="center">
                                <tr>
                                    <td width="429 ">
                                        <p>
                                            <strong>Exome Coverage Files</strong>
                                        </p>
                                    </td>
                                </tr>
                                 <tr>
                                    <td width="428">
                                        <p>
                                            <a href="https://data.broadinstitute.org/gnomAD/release-170227/exomes/coverage/exacv2.chr1.cov.txt.gz">chr 1 coverage</a>
                                        </p>
                                    </td>
                                </tr>
                                 <tr>
                                    <td width="428">
                                        <p>
                                            <a href="https://data.broadinstitute.org/gnomAD/release-170227/exomes/coverage/exacv2.chr2.cov.txt.gz">chr 2 coverage</a>
                                        </p>
                                    </td>
                                </tr>
                                    <td width="428">
                                        <p>
                                            <a href="https://data.broadinstitute.org/gnomAD/release-170227/exomes/coverage/exacv2.chr3.cov.txt.gz">chr 3 coverage</a>
                                        </p>
                                    </td>
                                </tr>
                                 <tr>
                                    <td width="428">
                                        <p>
                                            <a href="https://data.broadinstitute.org/gnomAD/release-170227/exomes/coverage/exacv2.chr4.cov.txt.gz">chr 4 coverage</a>
                                        </p>
                                    </td>
                                </tr>
                                 <tr>
                                    <td width="428">
                                        <p>
                                            <a href="https://data.broadinstitute.org/gnomAD/release-170227/exomes/coverage/exacv2.chr5.cov.txt.gz">chr 5 coverage</a>
                                        </p>
                                    </td>
                                </tr>
                                 <tr>
                                    <td width="428">
                                        <p>
                                            <a href="https://data.broadinstitute.org/gnomAD/release-170227/exomes/coverage/exacv2.chr6.cov.txt.gz">chr 6 coverage</a>
                                        </p>
                                    </td>
                                </tr>
                                 <tr>
                                    <td width="428">
                                        <p>
                                            <a href="https://data.broadinstitute.org/gnomAD/release-170227/exomes/coverage/exacv2.chr7.cov.txt.gz">chr 7 coverage</a>
                                        </p>
                                    </td>
                                </tr>
                                 <tr>
                                    <td width="428">
                                        <p>
                                            <a href="https://data.broadinstitute.org/gnomAD/release-170227/exomes/coverage/exacv2.chr8.cov.txt.gz">chr 8 coverage</a>
                                        </p>
                                    </td>
                                </tr>
                                 <tr>
                                    <td width="428">
                                        <p>
                                            <a href="https://data.broadinstitute.org/gnomAD/release-170227/exomes/coverage/exacv2.chr9.cov.txt.gz">chr 9 coverage</a>
                                        </p>
                                    </td>
                                </tr>
                                 <tr>
                                    <td width="428">
                                        <p>
                                            <a href="https://data.broadinstitute.org/gnomAD/release-170227/exomes/coverage/exacv2.chr10.cov.txt.gz">chr 10 coverage</a>
                                        </p>
                                    </td>
                                </tr>
                                 <tr>
                                    <td width="428">
                                        <p>
                                            <a href="https://data.broadinstitute.org/gnomAD/release-170227/exomes/coverage/exacv2.chr11.cov.txt.gz">chr 11 coverage</a>
                                        </p>
                                    </td>
                                </tr>
                                 <tr>
                                    <td width="428">
                                        <p>
                                            <a href="https://data.broadinstitute.org/gnomAD/release-170227/exomes/coverage/exacv2.chr12.cov.txt.gz">chr 12 coverage</a>
                                        </p>
                                    </td>
                                </tr>
                                 <tr>
                                    <td width="428">
                                        <p>
                                            <a href="https://data.broadinstitute.org/gnomAD/release-170227/exomes/coverage/exacv2.chr13.cov.txt.gz">chr 13 coverage</a>
                                        </p>
                                    </td>
                                </tr>
                                 <tr>
                                    <td width="428">
                                        <p>
                                            <a href="https://data.broadinstitute.org/gnomAD/release-170227/exomes/coverage/exacv2.chr14.cov.txt.gz">chr 14 coverage</a>
                                        </p>
                                    </td>
                                </tr>
                                 <tr>
                                    <td width="428">
                                        <p>
                                            <a href="https://data.broadinstitute.org/gnomAD/release-170227/exomes/coverage/exacv2.chr15.cov.txt.gz">chr 15 coverage</a>
                                        </p>
                                    </td>
                                </tr>
                                 <tr>
                                    <td width="428">
                                        <p>
                                            <a href="https://data.broadinstitute.org/gnomAD/release-170227/exomes/coverage/exacv2.chr16.cov.txt.gz">chr 16 coverage</a>
                                        </p>
                                    </td>
                                </tr>
                                 <tr>
                                    <td width="428">
                                        <p>
                                            <a href="https://data.broadinstitute.org/gnomAD/release-170227/exomes/coverage/exacv2.chr17.cov.txt.gz">chr 17 coverage</a>
                                        </p>
                                    </td>
                                </tr>
                                 <tr>
                                    <td width="428">
                                        <p>
                                            <a href="https://data.broadinstitute.org/gnomAD/release-170227/exomes/coverage/exacv2.chr18.cov.txt.gz">chr 18 coverage</a>
                                        </p>
                                    </td>
                                </tr>
                                    <td width="428">
                                        <p>
                                            <a href="https://data.broadinstitute.org/gnomAD/release-170227/exomes/coverage/exacv2.chr19.cov.txt.gz">chr 19 coverage</a>
                                        </p>
                                    </td>
                                </tr>
                                 <tr>
                                    <td width="428">
                                        <p>
                                            <a href="https://data.broadinstitute.org/gnomAD/release-170227/exomes/coverage/exacv2.chr20.cov.txt.gz">chr 20 coverage</a>
                                        </p>
                                    </td>
                                </tr>
                                 <tr>

                                    <td width="428">
                                        <p>
                                            <a href="https://data.broadinstitute.org/gnomAD/release-170227/exomes/coverage/exacv2.chr21.cov.txt.gz">chr 21 coverage</a>
                                        </p>
                                    </td>
                                </tr>
                                 <tr>
                                    <td width="428">
                                        <p>
                                            <a href="https://data.broadinstitute.org/gnomAD/release-170227/exomes/coverage/exacv2.chr22.cov.txt.gz">chr 22 coverage</a>
                                        </p>
                                    </td>
                                </tr>
                                 <tr>
                                    <td width="428">
                                        <p>
                                            <a href="https://data.broadinstitute.org/gnomAD/release-170227/exomes/coverage/exacv2.chrX.cov.txt.gz">chr X coverage</a>
                                        </p>
                                    </td>
                                </tr>
                                 <tr>
                                    <td width="428">
                                        <p>
                                            <a href="https://data.broadinstitute.org/gnomAD/release-170227/exomes/coverage/exacv2.chrX.cov.txt.gz">chr Y coverage</a>
                                        </p>
                                    </td>
                                </tr>
                                 <tr>
                                    <td width="428">
                                        <p>
                                            <a href="https://data.broadinstitute.org/gnomAD/release-170227/exomes/coverage/exome.coverage.all.tar">All exome coverage (1.1 GB)</a>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="download-table-group">
                        <h4>Genome Data</h4>
                        <table class="downloads-table" border="1" cellspacing="0" cellpadding="0">
                        <tbody align="center">
                            <tr>
                                <td width="429 ">
                                    <p>
                                        <strong>Genome VCF Files</strong>
                                    </p>
                                </td>
                                <td width="429">
                                    <p>
                                        <strong>Genome Coverage Files</strong>
                                    </p>
                                </td>
                            </tr>
                             <tr>
                                <td width="428">
                                    <p>
                                        <a href="https://data.broadinstitute.org/gnomAD/release-170227/genomes/vcf/gnomad.genomes.r2.0.sites.1.vcf.bgz">chr 1 sites VCF (6.9 GB)</a>
                                    </p>
                                </td>
                                <td width="428">
                                    <p>
                                        <a href="https://data.broadinstitute.org/gnomAD/release-170227/genomes/coverage/gnomad.chr1.cov.txt.gz">chr 1 coverage</a>
                                    </p>
                                </td>
                            </tr>
                             <tr>
                                <td width="429">
                                    <p>
                                        <a href="https://data.broadinstitute.org/gnomAD/release-170227/genomes/vcf/gnomad.genomes.r2.0.sites.2.vcf.bgz">chr 2 sites VCF (7.3 GB)</a>
                                    </p>
                                </td>
                                <td width="428">
                                    <p>
                                        <a href="https://data.broadinstitute.org/gnomAD/release-170227/genomes/coverage/gnomad.chr2.cov.txt.gz">chr 2 coverage</a>
                                    </p>
                                </td>
                            </tr>
                             <tr>
                                <td width="429">
                                    <p>
                                        <a href="https://data.broadinstitute.org/gnomAD/release-170227/genomes/vcf/gnomad.genomes.r2.0.sites.3.vcf.bgz">chr 3 sites VCF (6.1 GB)</a>
                                    </p>
                                </td>
                                <td width="428">
                                    <p>
                                        <a href="https://data.broadinstitute.org/gnomAD/release-170227/genomes/coverage/gnomad.chr3.cov.txt.gz">chr 3 coverage</a>
                                    </p>
                                </td>
                            </tr>
                             <tr>
                                <td width="429">
                                    <p>
                                        <a href="https://data.broadinstitute.org/gnomAD/release-170227/genomes/vcf/gnomad.genomes.r2.0.sites.4.vcf.bgz">chr 4 sites VCF (5.7 GB)</a>
                                    </p>
                                </td>
                                <td width="428">
                                    <p>
                                        <a href="https://data.broadinstitute.org/gnomAD/release-170227/genomes/coverage/gnomad.chr4.cov.txt.gz">chr 4 coverage</a>
                                    </p>
                                </td>
                            </tr>
                             <tr>
                                <td width="429">
                                    <p>
                                        <a href="https://data.broadinstitute.org/gnomAD/release-170227/genomes/vcf/gnomad.genomes.r2.0.sites.5.vcf.bgz">chr 5 sites VCF (5.4 GB)</a>
                                    </p>
                                </td>
                                <td width="428">
                                    <p>
                                        <a href="https://data.broadinstitute.org/gnomAD/release-170227/genomes/coverage/gnomad.chr5.cov.txt.gz">chr 5 coverage</a>
                                    </p>
                                </td>
                            </tr>
                             <tr>
                                <td width="429">
                                    <p>
                                        <a href="https://data.broadinstitute.org/gnomAD/release-170227/genomes/vcf/gnomad.genomes.r2.0.sites.6.vcf.bgz">chr 6 sites VCF (5.0 GB)</a>
                                    </p>
                                </td>
                                <td width="428">
                                    <p>
                                        <a href="https://data.broadinstitute.org/gnomAD/release-170227/genomes/coverage/gnomad.chr6.cov.txt.gz">chr 6 coverage</a>
                                    </p>
                                </td>
                            </tr>
                             <tr>
                                <td width="429">
                                    <p>
                                        <a href="https://data.broadinstitute.org/gnomAD/release-170227/genomes/vcf/gnomad.genomes.r2.0.sites.7.vcf.bgz">chr 7 sites VCF (5.0 GB)</a>
                                    </p>
                                </td>
                                <td width="428">
                                    <p>
                                        <a href="https://data.broadinstitute.org/gnomAD/release-170227/genomes/coverage/gnomad.chr7.cov.txt.gz">chr 7 coverage</a>
                                    </p>
                                </td>
                            </tr>
                             <tr>
                                <td width="429">
                                    <p>
                                        <a href="https://data.broadinstitute.org/gnomAD/release-170227/genomes/vcf/gnomad.genomes.r2.0.sites.8.vcf.bgz">chr 8 sites VCF (4.7 GB)</a>
                                    </p>
                                </td>
                                <td width="428">
                                    <p>
                                        <a href="https://data.broadinstitute.org/gnomAD/release-170227/genomes/coverage/gnomad.chr8.cov.txt.gz">chr 8 coverage</a>
                                    </p>
                                </td>
                            </tr>
                             <tr>
                                <td width="429">
                                    <p>
                                        <a href="https://data.broadinstitute.org/gnomAD/release-170227/genomes/vcf/gnomad.genomes.r2.0.sites.9.vcf.bgz">chr 9 sites VCF (3.8 GB)</a>
                                    </p>
                                </td>
                                <td width="428">
                                    <p>
                                        <a href="https://data.broadinstitute.org/gnomAD/release-170227/genomes/coverage/gnomad.chr9.cov.txt.gz">chr 9 coverage</a>
                                    </p>
                                </td>
                            </tr>
                             <tr>
                                <td width="429">
                                    <p>
                                        <a href="https://data.broadinstitute.org/gnomAD/release-170227/genomes/vcf/gnomad.genomes.r2.0.sites.10.vcf.bgz">chr 10 sites VCF (4.0 GB)</a>
                                    </p>
                                </td>
                                <td width="428">
                                    <p>
                                        <a href="https://data.broadinstitute.org/gnomAD/release-170227/genomes/coverage/gnomad.chr10.cov.txt.gz">chr 10 coverage</a>
                                    </p>
                                </td>
                            </tr>
                             <tr>
                                <td width="429">
                                    <p>
                                        <a href="https://data.broadinstitute.org/gnomAD/release-170227/genomes/vcf/gnomad.genomes.r2.0.sites.11.vcf.bgz">chr 11 sites VCF (4.3 GB)</a>
                                    </p>
                                </td>
                                <td width="428">
                                    <p>
                                        <a href="https://data.broadinstitute.org/gnomAD/release-170227/genomes/coverage/gnomad.chr11.cov.txt.gz">chr 11 coverage</a>
                                    </p>
                                </td>
                            </tr>
                             <tr>
                                <td width="429">
                                    <p>
                                        <a href="https://data.broadinstitute.org/gnomAD/release-170227/genomes/vcf/gnomad.genomes.r2.0.sites.12.vcf.bgz">chr 12 sites VCF (4.2 GB)</a>
                                    </p>
                                </td>
                                <td width="428">
                                    <p>
                                        <a href="https://data.broadinstitute.org/gnomAD/release-170227/genomes/coverage/gnomad.chr12.cov.txt.gz">chr 12 coverage</a>
                                    </p>
                                </td>
                            </tr>
                             <tr>
                                <td width="429">
                                    <p>
                                        <a href="https://data.broadinstitute.org/gnomAD/release-170227/genomes/vcf/gnomad.genomes.r2.0.sites.13.vcf.bgz">chr 13 sites VCF (2.7 GB)</a>
                                    </p>
                                </td>
                                <td width="428">
                                    <p>
                                        <a href="https://data.broadinstitute.org/gnomAD/release-170227/genomes/coverage/gnomad.chr13.cov.txt.gz">chr 13 coverage</a>
                                    </p>
                                </td>
                            </tr>
                             <tr>
                                <td width="429">
                                    <p>
                                        <a href="https://data.broadinstitute.org/gnomAD/release-170227/genomes/vcf/gnomad.genomes.r2.0.sites.14.vcf.bgz">chr 14 sites VCF (2.8 GB)</a>
                                    </p>
                                </td>
                                <td width="428">
                                    <p>
                                        <a href="https://data.broadinstitute.org/gnomAD/release-170227/genomes/coverage/gnomad.chr14.cov.txt.gz">chr 14 coverage</a>
                                    </p>
                                </td>
                            </tr>
                             <tr>
                                <td width="429">
                                    <p>
                                        <a href="https://data.broadinstitute.org/gnomAD/release-170227/genomes/vcf/gnomad.genomes.r2.0.sites.15.vcf.bgz">chr 15 sites VCF (2.7 GB)</a>
                                    </p>
                                </td>
                                <td width="428">
                                    <p>
                                        <a href="https://data.broadinstitute.org/gnomAD/release-170227/genomes/coverage/gnomad.chr15.cov.txt.gz">chr 15 coverage</a>
                                    </p>
                                </td>
                            </tr>
                             <tr>
                                <td width="429">
                                    <p>
                                        <a href="https://data.broadinstitute.org/gnomAD/release-170227/genomes/vcf/gnomad.genomes.r2.0.sites.16.vcf.bgz">chr 16 sites VCF (3.1 GB)</a>
                                    </p>
                                </td>
                                <td width="428">
                                    <p>
                                        <a href="https://data.broadinstitute.org/gnomAD/release-170227/genomes/coverage/gnomad.chr16.cov.txt.gz">chr 16 coverage</a>
                                    </p>
                                </td>
                            </tr>
                             <tr>
                                <td width="429">
                                    <p>
                                        <a href="https://data.broadinstitute.org/gnomAD/release-170227/genomes/vcf/gnomad.genomes.r2.0.sites.17.vcf.bgz">chr 17 sites VCF (2.8 GB)</a>
                                    </p>
                                </td>
                                <td width="428">
                                    <p>
                                        <a href="https://data.broadinstitute.org/gnomAD/release-170227/genomes/coverage/gnomad.chr17.cov.txt.gz">chr 17 coverage</a>
                                    </p>
                                </td>
                            </tr>
                             <tr>
                                <td width="429">
                                    <p>
                                        <a href="https://data.broadinstitute.org/gnomAD/release-170227/genomes/vcf/gnomad.genomes.r2.0.sites.18.vcf.bgz">chr 18 sites VCF (2.3 GB)</a>
                                    </p>
                                </td>
                                <td width="428">
                                    <p>
                                        <a href="https://data.broadinstitute.org/gnomAD/release-170227/genomes/coverage/gnomad.chr18.cov.txt.gz">chr 18 coverage</a>
                                    </p>
                                </td>
                            </tr>
                             <tr>
                                <td width="429">
                                    <p>
                                        <a href="https://data.broadinstitute.org/gnomAD/release-170227/genomes/vcf/gnomad.genomes.r2.0.sites.19.vcf.bgz">chr 19 sites VCF (2.3 GB)</a>
                                    </p>
                                </td>
                                <td width="428">
                                    <p>
                                        <a href="https://data.broadinstitute.org/gnomAD/release-170227/genomes/coverage/gnomad.chr19.cov.txt.gz">chr 19 coverage</a>
                                    </p>
                                </td>
                            </tr>
                             <tr>
                                <td width="429">
                                    <p>
                                        <a href="https://data.broadinstitute.org/gnomAD/release-170227/genomes/vcf/gnomad.genomes.r2.0.sites.20.vcf.bgz">chr 20 sites VCF (1.8 GB)</a>
                                    </p>
                                </td>
                                <td width="428">
                                    <p>
                                        <a href="https://data.broadinstitute.org/gnomAD/release-170227/genomes/coverage/gnomad.chr20.cov.txt.gz">chr 20 coverage</a>
                                    </p>
                                </td>
                            </tr>
                             <tr>
                                <td width="429">
                                    <p>
                                        <a href="https://data.broadinstitute.org/gnomAD/release-170227/genomes/vcf/gnomad.genomes.r2.0.sites.21.vcf.bgz">chr 21 sites VCF (1.2 GB)</a>
                                    </p>
                                </td>
                                <td width="428">
                                    <p>
                                        <a href="https://data.broadinstitute.org/gnomAD/release-170227/genomes/coverage/gnomad.chr21.cov.txt.gz">chr 21 coverage</a>
                                    </p>
                                </td>
                            </tr>
                             <tr>
                                <td width="429">
                                    <p>
                                        <a href="https://data.broadinstitute.org/gnomAD/release-170227/genomes/vcf/gnomad.genomes.r2.0.sites.22.vcf.bgz">chr 22 sites VCF (1.3 GB)</a>
                                    </p>
                                </td>
                                <td width="428">
                                    <p>
                                        <a href="https://data.broadinstitute.org/gnomAD/release-170227/genomes/coverage/gnomad.chr22.cov.txt.gz">chr 22 coverage</a>
                                    </p>
                                </td>
                            </tr>
                             <tr>
                                <td width="429">
                                    <p>
                                        <a href="https://data.broadinstitute.org/gnomAD/release-170227/genomes/vcf/gnomad.genomes.r2.0.sites.X.vcf.bgz">chr X sites VCF (4.7 GB)</a>
                                    </p>
                                </td>
                                <td width="428">
                                    <p>
                                        <a href="https://data.broadinstitute.org/gnomAD/release-170227/genomes/coverage/gnomad.chrX.cov.txt.gz">chr X coverage</a>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td width="428">
                                    <p>
                                        <a href="https://data.broadinstitute.org/gnomAD/release-170227/genomes/vcf/gnomad.genomes.r2.0.sites.coding.autosomes.vcf.bgz">Autosomes sites VCF (coding only, 2.4 GB)</a>
                                    </p>
                                </td>
                               <td width="428">
                                   <p>
                                       <a href="https://data.broadinstitute.org/gnomAD/release-170227/genomes/coverage/genome.coverage.all.tar">All genome coverage (0.8 GB)</a>
                                   </p>
                               </td>
                           </tr>
                            <tr>
                                <td width="428">
                                    <p>
                                        <a href="https://data.broadinstitute.org/gnomAD/release-170227/genomes/vcf/gnomad.genomes.r2.0.sites.coding.X.vcf.bgz">chr X sites VCF (coding only, 0.6 GB)</a>
                                    </p>
                                </td>
                                <td width="428">
                                    <p>

                                    </p>
                                </td>
                           </tr>
                             <tr>
                                <td width="429">
                                    <p>
                                        &nbsp;
                                    </p>
                                </td>
                                <td width="428">
                                    <p>
                                        &nbsp;
                                    </p>
                                </td>
                            </tr>
                             <!-- <tr>
                                <td width="857">
                                    <p>
                                        <a href="https://data.broadinstitute.org/gnomAD/release-170227/genomes/vcf/gnomad.genomes.r2.0.sites.1.vcf.bgz">chr Y sites VCF</a>
                                    </p>
                                </td>
                            </tr> -->
                        </tbody>
                    </table>
                    </div>
                </div>
                <!-- <h2>Reference data</h2> -->
                <!-- <table class="downloads-table"border="1" cellspacing="0" cellpadding="0">
                    <tbody align="center">
                        <tr>
                            <td width="357">
                                <p>
                                    <strong>FTP Link</strong>
                                </p>
                            </td>
                            <td width="500">
                                <p align="center">
                                    <strong>Description</strong>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="357">
                                <p>
                                    <a href="ftp://ftp.broadinstitute.org/pub/ExAC_release/release0.3.1/coverage">Exome coverage</a>
                                </p>
                            </td>
                            <td width="500">
                                <p align="center">
                                    Exome Per Base Coverage
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="357">
                                <p>
                                    <a href="ftp://ftp.broadinstitute.org/pub/ExAC_release/release0.3.1/coverage">Genome coverage</a>
                                </p>
                            </td>
                            <td width="500">
                                <p align="center">
                                    Genome Per Base Coverage
                                </p>
                            </td>
                        </tr>

                        <tr>
                            <td width="357">
                                <p>
                                    <a href="ftp://ftp.broadinstitute.org/pub/ExAC_release/release0.3.1/subsets">Subsets</a>
                                </p>
                            </td>
                            <td width="500">
                                <p align="center">
                                    Non-TCGA VCF Subset
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table> -->
            </div>

    </div>
{% endblock %}

