{% extends "layout.html" %}
{% block body %}
    <div class="container" style="font-size: 16px;">
        <h1>Frequently Asked Questions</h1>
        <h2>General</h2>
        <ul class="media-list">
            <li class="media">
                <div class="media-body">
                    <h4 class="media-heading">How should I cite discoveries made using gnomAD data?</h4>
                    Please cite the ExAC flagship paper available <a href="http://www.nature.com/nature/journal/v536/n7616/full/nature19057.html">here</a>.
                </div>
            </li>
            <li class="media">
                <div class="media-body">
                    <h4 class="media-heading">I have identified a rare variant in gnomAD that I believe is associated with a specific clinical phenotype. What phenotype data are available for these individuals?</h4>
                    Most of the individuals who have contributed data to gnomAD were not fully consented for phenotype data sharing, and unfortunately at this time we are typically unable to provide any information about the clinical status of variant carriers. We have made every effort to exclude individuals with severe pediatric diseases from the gnomAD data set, and certainly do not expect our data set to be <i>enriched</i> for such individuals, but we typically cannot rule out the possibility that some of our participants do actually suffer from your disease of interest.
                    <br><br>
                    In the future it may be possible to obtain phenotype data for a subset of ExAC samples. If you are interested in using such data in your studies, please <a href="mailto:exomeconsortium@gmail.com">email us</a>.
                </div>
            </li>
            <li class="media">
                <div class="media-body">
                    <h4 class="media-heading">Can I get access to individual-level genotype data from gnomAD?</h4>
                    Many of the samples in gnomAD have individual-level sequencing data deposited in <a href="http://www.ncbi.nlm.nih.gov/gap">dbGaP</a>, and these can be accessed by <a href="https://dbgap.ncbi.nlm.nih.gov/aa/wga.cgi?page=login">applying through that repository</a>. However, many other samples come from unpublished cohorts or from samples not in dbGaP. There is not currently any mechanism to systematically obtain individual-level genotype data from the database as a whole. Making this possible would require a truly staggering amount of paperwork, and we'd rather spend that time generating larger data sets for the community to use.
                </div>
            </li>
            <li class="media">
                <div class="media-body">
                    <h4 class="media-heading">What are the restrictions on data usage?</h4>
                    There are no restrictions or embargoes on the publication of results derived from the gnomAD database. However, we encourage people to <a href="mailto:exomeconsortium@gmail.com">check with the consortium</a> before embarking on large-scale analyses, to see if we already have something currently underway that overlaps with your plans; generally, we prefer to collaborate with users rather than compete with them. The data are available under the <a href="http://opendatacommons.org/licenses/odbl/1.0/">ODC Open Database License (ODbL)</a> (summary available <a href="http://www.opendatacommons.org/licenses/odbl/1-0/summary/">here</a>): you are free to share and modify the ExAC data so long as you attribute any public use of the database, or works produced from the database; keep the resulting data-sets open; and offer your shared or adapted version of the dataset under the same ODbL license.
                </div>
            </li>
        </ul>
        <h2>Technical details</h2>
        <ul class="media-list">
            <li class="media">
                <div class="media-body">
                    <h4 class="media-heading">What genome build is the gnomAD data based on?</h4>
                    All data are based on <a href="ftp://ftp.broadinstitute.org/pub/seq/references/Homo_sapiens_assembly19.fasta">GRCh37/hg19</a>
                </div>
            </li>
            <li class="media">
                <div class="media-body">
                    <h4 class="media-heading">What version of dbSNP was used to annotate variants?</h4>
                    dbSNP 135. The browser supports RSIDs up to dbSNP 141, but these are not included in the VCF.
                </div>
            </li>
            <li class="media">
                <div class="media-body">
                    <h4 class="media-heading">What version of Gencode was used to annotate variants?</h4>
                    Version 19 (annotated with VEP version 81).
                </div>
            </li>
            <li class="media">
                <div class="media-body">
                    <h4 class="media-heading">Why does the browser seem to disagree with the gnomAD VCF at this multiallelic site?</h4>
                    Due to the limitations of the VCF format, multi-allelic variants are put together on one VCF line.
                    This inevitably adds complexity to otherwise simple variants,
                    and thus when parsing onto the browser, we apply a <a href="http://www.cureffi.org/2014/04/24/converting-genetic-variants-to-their-minimal-representation/">minimal representation</a> script.
                    For instance, a variant whose REF is GC and ALT alleles are TC,G - the first ALT allele is actually a SNP and will be represented in the browser as G->T.
                </div>
            </li>
            <li class="media">
                <div class="media-body">
                    <h4 class="media-heading">Why does the allele frequency (AF) found in the gnomAD VCF differ from the AF shown on the browser?</h4>
                    The AF shown in the VCF is AC/AN.  The browser however shows the adjusted allele frequency (AC_adj/AN_adj). The raw counts (AC and AN) refer to the total number of chromosomes with this allele, and total that were able to be called (whether reference or alternate), respectively. Thus, the allele frequency is AC/AN. However, for more stringent applications, we adjusted the allele count to only include individuals with genotype quality (GQ) >= 20 and depth (DP) >= 10, which we term AC_adj (and correspondingly, AN_adj for total number of chromosomes from individuals with those criteria regardless of genotype call).
                </div>
            </li>
            <li class="media">
                <div class="media-body">
                    <h4 class="media-heading">Are all the individuals in the <a href="http://evs.gs.washington.edu/EVS/">Exome Variant Server</a> included?</h4>
                    No. We were not given permission from dbGaP to include individuals from several of the cohorts included in the NHLBI's Exome Sequencing Project. As a result, genuine rare variants that are present in the EVS may not be observed in gnomAD.
                </div>
            </li>
            <li class="media">
                <div class="media-body">
                    <h4 class="media-heading">Do the cancer samples in the database include tumor exomes, or is this from germline samples only?</h4>
                    All of the "cancer" samples in the current release of ExAC are blood ("germline") samples from TCGA. We excluded any sample labeled as tumor. However, note that some sample/label swaps may have occurred in TCGA; in addition, it is possible that in some patients the blood samples are contaminated by circulating tumor cells.
                </div>
            </li>
            <li class="media">
                <div class="media-body">
                    <h4 class="media-heading">What populations are represented in the ExAC data?</h4>
                    <table border="1" cellspacing="50" cellpadding="50" width="544">
                        <tbody align="center">
                            <tr>
                                <td width="125" valign="top">
                                    <p>
                                        <strong>Population</strong>
                                    </p>
                                </td>
                                <td width="109" valign="top">
                                    <p>
                                        <strong>Male Samples</strong>
                                    </p>
                                </td>
                                <td width="113" valign="top">
                                    <p>
                                        <strong>Female Samples</strong>
                                    </p>
                                </td>
                                <td width="96" valign="top">
                                    <p>
                                        <strong>Total</strong>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td width="125" valign="top">
                                    <p>
                                        African/African American (AFR)
                                    </p>
                                </td>
                                <td width="109" valign="top">
                                    <p>
                                        1,888
                                    </p>
                                </td>
                                <td width="113" valign="top">
                                    <p>
                                        3,315
                                    </p>
                                </td>
                                <td width="96" valign="top">
                                    <p>
                                        5,203
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td width="125" valign="top">
                                    <p>
                                        Latino (AMR)
                                    </p>
                                </td>
                                <td width="109" valign="top">
                                    <p>
                                        2,254
                                    </p>
                                </td>
                                <td width="113" valign="top">
                                    <p>
                                        3,535
                                    </p>
                                </td>
                                <td width="96" valign="top">
                                    <p>
                                        5,789
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td width="125" valign="top">
                                    <p>
                                        East Asian (EAS)
                                    </p>
                                </td>
                                <td width="109" valign="top">
                                    <p>
                                        2,016
                                    </p>
                                </td>
                                <td width="113" valign="top">
                                    <p>
                                        2,311
                                    </p>
                                </td>
                                <td width="96" valign="top">
                                    <p>
                                        4,327
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td width="125" valign="top">
                                    <p>
                                        Finnish (FIN)
                                    </p>
                                </td>
                                <td width="109" valign="top">
                                    <p>
                                        2,084
                                    </p>
                                </td>
                                <td width="113" valign="top">
                                    <p>
                                        1,223
                                    </p>
                                </td>
                                <td width="96" valign="top">
                                    <p>
                                        3,307
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td width="125" valign="top">
                                    <p>
                                        Non-Finnish European (NFE)
                                    </p>
                                </td>
                                <td width="109" valign="top">
                                    <p>
                                        18,740
                                    </p>
                                </td>
                                <td width="113" valign="top">
                                    <p>
                                        14,630
                                    </p>
                                </td>
                                <td width="96" valign="top">
                                    <p>
                                        33,370
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td width="125" valign="top">
                                    <p>
                                        South Asian (SAS)
                                    </p>
                                </td>
                                <td width="109" valign="top">
                                    <p>
                                        6,387
                                    </p>
                                </td>
                                <td width="113" valign="top">
                                    <p>
                                        1,869
                                    </p>
                                </td>
                                <td width="96" valign="top">
                                    <p>
                                        8,256
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td width="125" valign="top">
                                    <p>
                                        Other (OTH)
                                    </p>
                                </td>
                                <td width="109" valign="top">
                                    <p>
                                        275
                                    </p>
                                </td>
                                <td width="113" valign="top">
                                    <p>
                                        179
                                    </p>
                                </td>
                                <td width="96" valign="top">
                                    <p>
                                        454
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td width="125" valign="top">
                                    <p>
                                        <strong>Total</strong>
                                    </p>
                                </td>
                                <td width="109" valign="top">
                                    <p>
                                        33,644
                                    </p>
                                </td>
                                <td width="113" valign="top">
                                    <p>
                                        27,062
                                    </p>
                                </td>
                                <td width="96" valign="top">
                                    <p>
                                        <strong>60,706</strong>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li class="media">
                <div class="media-body">
                    <h4 class="media-heading">What ethnicities are represented in the "other" population?</h4>
                   Individuals were classified as "other" if they did not unambiguously cluster with the major populations (i.e. NFE, FIN, AFR, SAS, EAS, ASJ or AMR) in a principal component analysis (PCA).
                </div>
            </li>
         </ul>
    </div>
{% endblock %}
