{% extends "layout.html" %}
{% block body %}
    <script>
        $('#navbar_form_container').hide();
    </script>
    <div class="container">
        <h1 id="home-title">gnomAD browser | <a href="/about" style="color: black;">genome Aggregation Database</a></h1>
        <div class="row">
            <div class="col-md-12">
                <div id="home-searchbox">
                    <form action="/awesome">
                        <input type="submit" style="display: none;"/>
                        <input id="home-searchbox-input" name="query" class="form-control input-lg awesomebar" type="text" placeholder="Search for a gene or variant or region"/>
                        <input type="submit" style="position: absolute; left: -9999px"/>
                    </form>
                    <p class="text-muted">
                        Example - Gene: <a href="/awesome?query=PCSK9">PCSK9</a>,
                        Variant: <a href="/variant/1-55516888-G-GA">1-55516888-G-GA</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row" style="font-size: 16px;">
            <div class="col-md-8">
                <h3 align="center"> <a href="/about" style="color: black;">About gnomAD</a></h3>
                <div>
                    <p>
                        The <a href="/about">Genome Aggregation Database</a> (gnomAD) is a resource developed by an international coalition of investigators, with the goal of aggregating and harmonizing both exome and genome sequencing data from a wide variety of large-scale sequencing projects, and making summary data available for the wider scientific community.
                    </p>
                    <p>
                        The data set provided on this website spans 123,136 exome sequences and 15,136 whole-genome sequences from unrelated individuals sequenced as part of various disease-specific and population genetic studies. The gnomAD Principal Investigators and groups that have contributed data to the current release are listed <a href="/about">here</a>.
                    </p>
                    <p>
                        All data here are released for the benefit of the wider biomedical community, without restriction on use - see the terms of use <a href="/terms">here</a>.
                    </p>
                    <p>
                        Sign up for our mailing list for future release announcements <a href="https://groups.google.com/forum/#!forum/exac_data_announcements">here</a>.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <h3 align="center">Recent News</h3>
                <h4>February 27, 2017</h4> Official gnomAD release (version 2.0) with browser updates and data available for download.
                <h4>October 19, 2016</h4> Public release of gnomAD Browser (beta) at ASHG!

            </div>
        </div>
    </div>
{% endblock %}
