{% extends "layout.html" %}
{% block body %}
    <script>
        $('#navbar_form_container').hide();
    </script>
    <div class="container">
        <h1 id="home-title">gnomAD browser beta | <a href="/about" style="color: black;">genome Aggregation Database</a></h1>
        <div class="row">
            <div class="col-md-12">
                <div id="home-searchbox">
                    <form action="/awesome">
                        <input type="submit" style="display: none;"/>
                        <input id="home-searchbox-input" name="query" class="form-control input-lg awesomebar" type="text" placeholder="Search for a gene or variant or region"/>
                        <input type="submit" style="position: absolute; left: -9999px"/>
                    </form>
                    <p class="text-muted">
                        Example - Gene: <a href="/awesome?query=PCSK9">PCSK9</a>,
                        Variant: <a href="/variant/1-55516888-G-GA">1-55516888-G-GA</a>
                    </p>
                </div>
            </div>
        </div>
        <!-- <div class="row" style="font-size: 16px;">
            <div class="col-md-12">
                <h3 align="center"> <a href="/about" style="color: black;">Beta feedback</a></h3>
                <div>
                    <p>
                        This is a beta test of redesigned gene/region pages. If you would like to report bugs or provide feedback/suggestions, please post an issue on <a href="mailto:exomeconsortium@gmail.com">github</a> or <a href="mailto:exomeconsortium@gmail.com">email us</a>.
                    </p>
                </div>
            </div> -->
        <div class="row" style="font-size: 16px;">
            <div class="col-md-8">
                <h3 align="center"> <a href="/about" style="color: black;">About gnomAD</a></h3>
                <div>
                    <p>
                        The <a href="/about">Genome Aggregation Database</a> (gnomAD) is a resource developed by an international coalition of investigators, with the goal of aggregating and harmonizing both exome and genome sequencing data from a wide variety of large-scale sequencing projects, and making summary data available for the wider scientific community.
                    </p>
                    <p>
                        The data set provided on this website spans 123,136 exome sequences and 15,496 whole-genome sequences from unrelated individuals sequenced as part of various disease-specific and population genetic studies. The gnomAD Principal Investigators and groups that have contributed data to the current release are listed <a href="/about">here</a>.
                    </p>
                    <p>
                        All data here are released for the benefit of the wider biomedical community, without restriction on use - see the terms of use <a href="/terms">here</a>.
                    </p>
                    <p>
                        Sign up for our mailing list for future release announcements <a href="https://groups.google.com/forum/#!forum/exac_data_announcements">here</a>.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <h3 align="center">Recent News</h3>
                <h4>January 25, 2018</h4> <a href="http://gnomad-beta.broadinstitute.org">Beta release</a> of redesigned gene and region pages.
                <h4>October 3, 2017</h4> <a href="https://storage.googleapis.com/gnomad-public/release/2.0.2/">gnomAD r2.0.2</a> released. Sample composition is identical to the previous release (r2.0.1), however we have
                made a change to the variant filtering process that you can read about <a href="https://storage.googleapis.com/gnomad-public/release/2.0.2/README.txt">here</a>.
                <h4>February 27, 2017</h4> <a href="https://macarthurlab.org/2017/02/27/the-genome-aggregation-database-gnomad">Official gnomAD release (version 2.0)</a> with browser updates and data available for <a href="/downloads">download</a>.
                <h4>October 19, 2016</h4> Public release of gnomAD Browser (beta) at ASHG!

            </div>
        </div>
    </div>
{% endblock %}
