<!doctype html>
<head>
    <title>gnomAD browser</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='typeaheadjs.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-1.11.1.min.js') }}"></script>
    {% block loads %}{% endblock %}
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='typeahead.bundle.min.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='jquery.tablesorter.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.tablesorter.pager.js') }}"></script>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='theme.default.css') }}"> <!--tablesorter's css-->
    <script type="text/javascript" src="{{ url_for('static', filename='underscore-min.js') }}"></script>

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='d3.v3.min.js') }}"></script>
    <!-- <script type="text/javascript" src="{{  url_for('static', filename='ramda.min.js') }}"></script> -->
    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
    <script type="text/javascript" src="{{  url_for('static', filename='exac.js') }}"></script>
    <script type="text/javascript" src="{{  url_for('static', filename='gnomad.js') }}"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/react/15.5.4/react.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/react/15.5.4/react-dom.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='genepage-1517593459.js') }}"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109429879-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-109429879-1');
    </script>

    <script type="text/javascript">
        number_of_samples = 60706;
        release_number = 0.3;
        number_of_samples_full = 91796;
        $(document).ready(function() {
            $('.number_samples').html(Number(number_of_samples).toLocaleString('en'));
            $('.number_samples_full').html(Number(number_of_samples_full).toLocaleString('en'));
            $('.release_number').html(Number(release_number).toLocaleString('en'));
        });
        $(function() {
            var bestPictures = new Bloodhound({
              datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
              queryTokenizer: Bloodhound.tokenizers.whitespace,
              remote: '/autocomplete/%QUERY'
            });

            bestPictures.initialize();

            $('.awesomebar').typeahead(
                {
                    autoselect: false,
                },
                {
                    name: 'best-pictures',
                    displayKey: 'value',
                    source: bestPictures.ttAdapter(),
                }
            );
            $('.awesomebar').bind('typeahead:selected', function(obj, datum) {
                window.location.href = '/awesome?query=' + datum.value;
                consologe.log(obj, datum)
            });
        });
    </script>

</head>
<body>
  <div class="container-fluid notification">
      <p>This is a beta test of the redesigned gene/region pages. If you would like to report bugs or provide suggestions, please post an issue on <a href="https://github.com/macarthur-lab/gnomad_browser/issues">github</a> or <a href="mailto:exomeconsortium@gmail.com">email us</a>. Your input is greatly appreciated!</p>
  </div>
<nav class="navbar navbar-default" role="navigation" style="background: #222;">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" style="color: white; font-weight: bold; float: left; font-size: 15px;">gnomAD browser beta</a>
            <div class="col-xs-5" id="navbar_form_container">
                <form action="/awesome" class="navbar-form" role="search">
                    <div class="form-group" id="navbar-awesomebar">
                        <input type="submit" style="display: none;"/>
                        <input id="navbar-searchbox-input" name="query" class="form-control awesomebar" type="text" placeholder="Gene, transcript, variant, or region"/>
                        <input type="submit" style="position: absolute; left: -9999px"/>
                    </div>
                </form>
            </div>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/about" style="color: white; font-weight: bold;">About</a></li>
                <li><a href="/downloads" style="color: white; font-weight: bold;">Downloads</a></li>
                <li><a href="/terms" style="color: white; font-weight: bold;">Terms</a></li>
                <li><a href="/contact" style="color: white; font-weight: bold;">Contact</a></li>
                <li><a href="https://macarthurlab.org/jobs/" style="color: white; font-weight: bold;">Jobs</a></li>
                <li><a href="/faq" style="color: white; font-weight: bold;">FAQ</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!-- <div class="container-fluid jobs">
    <p>
        Interested in working on the development of this resource?
        <a href="https://macarthurlab.org/jobs/">
            Apply here.
        </a>
    </p>
</div> -->
{% block body %}{% endblock %}
</body>
