{% extends 'layout.html' %}
{% block body %}

<link href="https://fonts.googleapis.com/css?family=Fontdiner+Swanky" rel="stylesheet">
<style>
    .navbar-brand {
      font-family: 'Fontdiner Swanky', cursive;
    }

    .navbar-nav {
      font-family: 'Fontdiner Swanky', cursive;
    }

    .jobs {
      font-family: 'Fontdiner Swanky', cursive;
    }
</style>

<script type="text/javascript">
    var phenotypes = [
        {
          'gnome_id': 'gnome1',
          'ancestry': 'Gnome',
          'sex': 'Female',
          'phenotype': 'Macrocephaly, large eyes, telecanthus, long eyebrows, full cheeks, conspicuously happy disposition, childhood onset short-limb short stature',
          'extension': '.jpg'
        },
        {
          'gnome_id': 'gnome2',
          'ancestry': 'Gnome',
          'sex': 'Male',
          'phenotype': 'Disproportionate short-limb short stature, white hair, severe photosensitivity, muscle weakness, short foot',
          'extension': '.gif'
        },
        {
          'gnome_id': 'gnome3',
          'ancestry': 'Gnome',
          'sex': 'Male',
          'phenotype': 'Thick eyebrows, strabismus, macrotia, cupped ears, full cheeks, protuberant abdomen',
          'extension': '.gif'
        },
        {
          'gnome_id': 'gnome4',
          'ancestry': 'Gnome',
          'sex': 'Male',
          'phenotype': 'Variants going to extinction',
          'extension': '.jpg'
        },
        {
          'gnome_id': 'gnome5',
          'ancestry': 'Gnome',
          'sex': 'Male',
          'phenotype': 'Somnolence, parasite (tegumentary leishmaniasis susceptibility), long palpebral fissure, thick eyebrows',
          'extension': '.png'
        },
        {
          'gnome_id': 'gnome6',
          'ancestry': 'Gnome',
          'sex': 'Male',
          'phenotype': 'Hyperphagia, pica, salt craving, slurred speech',
          'extension': '.png'
        },
        {
          'gnome_id': 'gnome7',
          'ancestry': 'Gnome',
          'sex': 'Male',
          'phenotype': 'Oppositional defiant disorder, keratoconjunctivitis sicca, prominent bulbous nose',
          'extension': '.jpg'
        },
        {
          'gnome_id': 'gnome8',
          'ancestry': 'Gnome',
          'sex': 'Male',
          'phenotype': 'Bulbous nose, wide mouth, large fleshy ears, brittle hair, oligodactyly, toe syndactyly',
          'extension': '.jpg'
        },
        {
          'gnome_id': 'gnome9',
          'ancestry': 'Gnome',
          'sex': 'Male',
          'phenotype': 'Macrocephaly, long nose with low hanging columella, microphthalmos, hypoterolorism, macrotia with overfolded pointed helices, redundant skin, arachnodactyly, proximal muscle weakness',
          'extension': '.jpg'
        },
        {
          'gnome_id': 'gnome10',
          'ancestry': 'Gnome',
          'sex': 'Male',
          'phenotype': 'Aplasia cutis congenita, hirsuitism',
          'extension': '.jpg',
        },
        {
          'gnome_id': 'gnome11',
          'ancestry': 'European',
          'sex': 'Male',
          'phenotype': 'Human knockout',
          'extension': '.jpeg',
        },
      ]

      $(document).ready(function() {
          var variant = {{ variant|tojson|safe }}
          var chrom = Number(variant.chrom)
          var gnome_index = Math.floor(Math.random() * 11)
          console.log(gnome_index)

          $("#gnome-ancestry").html('<strong>Ancestry: </strong>' + phenotypes[gnome_index].ancestry)
          $("#gnome-sex").html('<strong>Sex: </strong>' + phenotypes[gnome_index].sex)
          $("#gnome-phenotype").html('<strong>Inferred phenotype: </strong>' + phenotypes[gnome_index].phenotype)
          $("#gnome-picture").attr('src', 'https://storage.googleapis.com/gnomad-browser/shared_files/gnomes/gnome' + (gnome_index + 1) + phenotypes[gnome_index].extension)
      });
</script>
<div>
    <div class="gnome-phenotype">
        <h1>gnomAD inferred phenotype: {{ variant.chrom }}:{{ variant.pos }} {{ variant.ref }}/{{ variant.alt }}</h1>
        <div class="gnome-profile">
            <div class="gnome-attributes">
                <ul>
                    <li class="gnome-item" id="gnome-ancestry"></li>
                    <li class="gnome-item" id="gnome-sex"></li>
                    <li class="gnome-item" id="gnome-phenotype"></li>
                </ul>
                <div class="gnome-message">Happy April 1st!</div>
            </div>
            <div class="gnome-picture-section">
                <img id="gnome-picture" src="#" />
            </div>
        </div>
        <div class="gnome-msg-container">

        </div>
    </div>

</div>
{% endblock %}
